################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/gi-rougelike-1/obj
/mauipong/bin/Debug/net7.0-windows
/mauipong/obj
